.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.btn-warning {
	background: rgba(255,230,0,0.3) !important;
	border-color: rgba(255,230,0,1) !important;
}